th[sortable].asc:before {
  content: '\2191';
  display: block;
  width: 22px;
  height: 22px;
  float: left;
  margin-left: -22px;
}
th[sortable].desc:before {
  content: '\2193';
  display: block;
  width: 22px;
  height: 22px;
  float: left;
  margin-left: -22px;
}
