<div class="app-content content">
  <div class="content-wrapper">
    <ngb-alert
      *ngIf="isSuccessDeleted"
      [dismissible]="true"
      [type]="'success'"
      (close)="isSuccessDeleted = true"
      role="alert"
      class="mb-2"
    >
      <strong>Succeess! </strong>
      <a [routerLink]="" class="alert-link">
        your Text has been successfully deleted</a
      >
    </ngb-alert>
    <ngb-alert
      *ngIf="isSuccessAdded"
      [dismissible]="true"
      [type]="'success'"
      (close)="isSuccessAdded = true"
      role="alert"
      class="mb-2"
    >
      <strong>Succeess! </strong>
      <a [routerLink]="" class="alert-link">
        your Text has been successfully added</a
      >
    </ngb-alert>
    <ngb-alert
      *ngIf="isSuccessModified"
      [dismissible]="true"
      [type]="'success'"
      (close)="isSuccessModified = true"
      role="alert"
      class="mb-2"
    >
      <strong>Succeess! </strong>
      <a [routerLink]="" class="alert-link"
        >your Text has been successfully modified</a
      >
    </ngb-alert>
    <ng-template
      class="modal border-pink text-left"
      #BorderModelContent
      let-c="close"
      let-d="dismiss"
    >
      <form [formGroup]="AddTexte" (ngSubmit)="onSubmit()">
        <div class="modal-content border-pink">
          <div class="modal-header border-bottom-pink">
            <h4 class="modal-title" id="myModalLabel22">
              <i class="la la-tree"></i>Add Text
            </h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="d('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4 class="card-title">Message</h4>
            <div class="card-block">
              <div class="card-body">
                <div class="form-group">
                  <input
                    type="hidden"
                    class="form-control"
                    id="defaultInputText"
                    formControlName="Id"
                  />
                  <input
                    type="text"
                    class="form-control"
                    id="defaultInputText"
                    formControlName="message"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              id="closemodel"
              type="button"
              (click)="d('Close modal')"
              class="btn grey btn-outline-secondary"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-outline-pink"
              [disabled]="!AddTexte.valid"
            >
              Save changes
            </button>
          </div>
        </div>
      </form>
    </ng-template>
    <div class="row">
      <div class="col-sm-12" *blockUI="'basicTables'; message: 'Loading'">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Text Management</h4>
          </div>
          <div class="card-body">
            <button
              (click)="BorderModel(BorderModelContent)"
              id="Addclick"
              type="button"
              class="btn btn-success btn-min-width mr-1 mb-1"
            >
              New text
            </button>
          </div>
          <div class="table-responsive card-body">
            <form>
              <div class="form-group form-inline">
                Full text search:
                <input
                  class="form-control ml-2"
                  type="text"
                  name="searchTerm"
                  [(ngModel)]="searchTerm"
                />
                <span class="ml-3" *ngIf="loading">Loading...</span>
              </div>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th
                      scope="col"
                      sortable="firstname"
                      (sort)="onSort($event)"
                    >
                      ID
                    </th>
                    <th scope="col" sortable="lastname" (sort)="onSort($event)">
                      Type
                    </th>
                    <th scope="col" sortable="username" (sort)="onSort($event)">
                      Overview
                    </th>
                    <th scope="col" sortable="username" (sort)="onSort($event)">
                      Created At
                    </th>
                    <th scope="col" sortable="username" (sort)="onSort($event)">
                      Updated At
                    </th>
                    <th
                      scope="col"
                      sortable="username"
                      (sort)="onSort($event)"
                    ></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let element of rows">
                    <th scope="row"></th>
                    <td>
                      <ngb-highlight
                        [result]="element._id"
                        [term]="searchTerm"
                      ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight
                        result="Text"
                        [term]="searchTerm"
                      ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight
                        [result]="element.message"
                        [term]="searchTerm"
                      >
                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight
                        [result]="element.createdAt"
                        [term]="searchTerm"
                      >
                      </ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight
                        [result]="element.modifiedAt"
                        [term]="searchTerm"
                      >
                      </ngb-highlight>
                    </td>
                    <td>
                      <button
                        type="button"
                        (click)="UpdateTexte(element)"
                        class="btn btn-info btn-min-width mr-1 mb-1"
                      >
                        Update
                      </button>
                      <button
                        type="button"
                        (click)="clickMethod(element)"
                        class="btn btn-danger btn-min-width mr-1 mb-1"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
